<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/79028e5814.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>TechShop</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
    <main class="container">
        <section class="search-section">
            <form action="/products" method="get">
                <div class="search-bar">
                    <input type="search" class="search-input" name="search" placeholder="Buscar producto...">
                    <button type="submit" class="search-button">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </form>
        </section>
        <section class="ads">
            <div class="ads-slider">
                <picture class="banner-frame">
                    <a href="/products?category=Celulares&onsale=on">
                        <img src="/assets/banners/phones-discount.png" alt="">
                    </a>
                </picture>
                <picture class="banner-frame">
                    <a href="/products?category=Laptops&onsale=on">
                        <img src="/assets/banners/samsung-notebook-promo.png" alt="">
                    </a>
                </picture>
            </div>
        </section>
        <section class="categories-section">
            <ul class="categories-list">
                <a href="/products?category=Computadoras">
                    <li class="category-item">
                        <img src="/assets/illustrations/computer-3d.png" alt="">
                    </li>
                </a>
                <a href="/products?category=Celulares">
                    <li class="category-item">
                        <img src="/assets/illustrations/phone-3d.png" alt="">
                    </li>
                </a>
                <a href="/products?category=Consolas">
                    <li class="category-item">
                        <img src="/assets/illustrations/console-3d.png" alt="">
                    </li>
                </a>
                <a href="/products?category=Televisores">
                    <li class="category-item">
                        <img src="/assets/illustrations/tv-3d.png" alt="">
                    </li>
                </a>
            </ul>
        </section>
        <section class="products-section">
            <header class="products-section-header">
                <h2>OFERTAS</h2>
                <a href="/products?onsale=on">Ver mas →</a>
            </header>
            <div class="products-container">
                <% onsales.forEach( product => { %>
                    <article class="product">
                        <picture class="product-image-container">
                            <a href="/products/<%= product.id %>">
                                <img src="<%= product.img %>" alt="<%= product.name %>" title="<%= product.name %>">
                            </a>
                        </picture>
                        <div class="product-card-info">
                            <div class="product-name">
                                <a href="/products/<%= product.id %>">
                                    <h3><%= product.name %></h3>
                                </a>
                            </div>
                            
                            <div class="tags">
                                <div class="old-price">
                                    <small>$<%= product.price %></small>
                                </div>
                                <% if (product.shipping) { %>
                                    <div class="free-shipping">
                                        <small>Envio gratis</small>
                                    </div>
                                <% } %>
                            </div>
                            <div class="product-price">
                                <strong>$<%= product.price - ((product.discount * product.price) / 100) %></strong>
                                <span class="discount-tag"><%= product.discount %>%</span>
                            </div>
                        </div>
                    </article>
                <% }) %>
            </div>
        </section>
        <section class="products-section">
            <header class="products-section-header">
                <h2>DESTACADOS</h2>
                <a href="/products?featured=true">Ver mas →</a>
            </header>
            <div class="products-container">
                <% featureds.forEach( product => { %>
                    <article class="product">
                        <picture class="product-image-container">
                            <a href="/products/<%= product.id %>">
                                <img src="<%= product.img %>" alt="<%= product.name %>" title="<%= product.name %>">
                            </a>
                        </picture>
                        <div class="product-card-info">
                            <div class="product-name">
                                <a href="/products/<%= product.id %>">
                                    <h3><%= product.name %></h3>
                                </a>
                            </div>
                            <% if (product.sale || product.shipping) { %>
                                <div class="tags">
                                    <% if (product.sale) { %>
                                        <div class="old-price">
                                            <small>$<%= product.price %></small>
                                        </div>
                                    <% } %>
                                    <% if (product.shipping) { %>
                                        <div class="free-shipping">
                                            <small>Envio gratis</small>
                                        </div>
                                    <% } %>
                                </div>
                            <% } %>
                            <div class="product-price">
                                <% if (product.sale) { %>
                                    <strong>$<%= product.price - ((product.discount * product.price) / 100) %></strong>
                                    <span class="discount-tag"><%= product.discount %>%</span>
                                <% }else{ %>
                                    <strong>$<%= product.price %></strong>
                                <% } %>
                            </div>
                        </div>
                    </article>
                <% }) %>
            </div>
        </section>
        
    </main>
    <%- include('./partials/footer.ejs') %>
    <!-- <script>
        const slider = document.querySelector(".ads-slider");
        const frames = document.querySelectorAll(".banner-frame");
        const frameWidth = frames[0].getBoundingClientRect().width;
        const totalFrames = frames.length;
        let currentIndex = 0;

        const scrollToFrame = (index) => {
            slider.scrollTo({
                left: index * frameWidth,
                behavior: 'smooth'
            });
        };

        const autoScroll = () => {
            currentIndex = (currentIndex + 1) % totalFrames;
            scrollToFrame(currentIndex);
        };

        setInterval(autoScroll, 10000);

        slider.addEventListener("wheel", (e) => {
            if (e.deltaY !== 0) {
                e.preventDefault();

                const direction = e.deltaY > 0 ? 1 : -1;
                currentIndex = (currentIndex + direction + totalFrames) % totalFrames;
                scrollToFrame(currentIndex);
            }
        });
    </script> -->
</body>

</html>